/* Шапка */
.header {
   width: 100%;
   height: 60px;
   background-color: white;
   border-bottom: 1px solid #EAEBED;
   position: sticky;
   top: 0;
   z-index: 100;
}

.container {
   width: 100%;
   max-width: 1440px;
   height: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

/* Левая часть */
.leftSection {
   position: absolute;
   width: 116px;
   height: 30px;
   top: 14.5px;
   left: 20px;
   display: flex;
   align-items: center;
   gap: 10px;
}

.logo {
   width: 30px;
   height: 30px;
   object-fit: contain;
}

.title {
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 25px;
   color: #141414;
   height: 30px;
   display: flex;
   align-items: center;
}

/* Навигация */
.navContainer {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   gap: 24px;
   align-items: center;
}

.navItem {
   display: flex;
   align-items: center;
   gap: 8px;
   cursor: pointer;
}

.dot {
   width: 6px;
   height: 6px;
   background-color: #4263EB;
   border-radius: 50%;
}

.navText {
   font-family: 'Open Sans', sans-serif;
   font-weight: 500;
   font-size: 14px;
   color: #0F0F10;
}

.navTextLight {
   font-family: 'Open Sans', sans-serif;
   font-weight: 500;
   font-size: 14px;
   color: rgba(15, 15, 16, 0.5);
}

/* Иконка пользователя */
.userIcon {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 1px solid rgba(15, 15, 16, 0.5);
   display: flex;
   align-items: center;
   justify-content: center;
}